# Binary Classification with a Bank Churn Dataset
## Playground Series - Season 4, Episode 1
### Dataset Description
The dataset for this competition (both train and test) was generated from a deep learning model trained on the Bank Customer Churn Prediction dataset. Feature distributions are close to, but not exactly the same, as the original. Feel free to use the original dataset as part of this competition, both to explore differences as well as to see whether incorporating the original in training improves model performance.
### About Dataset
- Customer ID: A unique identifier for each customer
- Surname: The customer's surname or last name
- Credit Score: A numerical value representing the customer's credit score
- Geography: The country where the customer resides (France, Spain or Germany)
- Gender: The customer's gender (Male or Female)
- Age: The customer's age.
- Tenure: The number of years the customer has been with the bank
- Balance: The customer's account balance
- NumOfProducts: The number of bank products the customer uses (e.g., savings account, credit card)
- HasCrCard: Whether the customer has a credit card (1 = yes, 0 = no)
- IsActiveMember: Whether the customer is an active member (1 = yes, 0 = no)
- EstimatedSalary: The estimated salary of the customer
- Exited: Whether the customer has churned (1 = yes, 0 = no)
### Files
- train.csv - the training dataset; Exited is the binary target
- test.csv - the test dataset; your objective is to predict the probability of Exited
- sample_submission.csv - a sample submission file in the correct format
### Evaluation
Submissions are evaluated on area under the ROC curve between the predicted probability and the observed target.
### Your Goal:
For this Episode of the Series, your task is to predict whether a customer continues with their account or closes it (e.g., churns). Good luck!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import missingno as msno

from sklearn.preprocessing import LabelEncoder
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier, Pool
from catboost.utils import eval_metric
from sklearn.ensemble import VotingClassifier

from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD

import warnings
warnings.filterwarnings("ignore")

### Credits
Override from original dataset
@paddykb 
- https://www.kaggle.com/competitions/playground-series-s4e1/discussion/469859
- https://www.kaggle.com/competitions/playground-series-s4e1/discussion/464886#2583413

lets see if this does help later

In [2]:
# Set to Y to exploit data leak
USE_DATA_LEAK = 'Y'

RAND_VAL = 42
num_folds = 5 # number of folds
n_est = 3500 # number of estimators

------------

### Import Data + Pre-check Data Structure

In [3]:
# Importing all data
train_data = pd.read_csv(r'data\train.csv')
test_data = pd.read_csv(r'data\test.csv')
original_data = pd.read_csv(r'data\Churn_Modelling.csv')
sample_submission = pd.read_csv(r'data\sample_submission.csv')

In [4]:
print(train_data.columns)
train_data.head()

Index(['id', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender',
       'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [5]:
print(test_data.columns)
test_data.head()

Index(['id', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender',
       'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [6]:
print(original_data.columns)
original_data.head()

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [7]:
train_data.shape , test_data.shape,original_data.shape

((165034, 14), (110023, 13), (10002, 14))

Interpreting the data

1. We can see that original_data has 'RowNumber' instead of 'id' as column name
2. Both train_data and original_data has 'Exited' (need to split)

In [8]:
# Rename column name
original_data.rename(columns = {'RowNumber': 'id'}, inplace=True)
original_data.head(5)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

For the simple visual table for:
 - missing values
 - unique values
 - data type
 
Credit: @tarundirector

https://www.kaggle.com/code/tarundirector/binary-classification-bank-churn-eda

In [9]:
# Creating a table for missing values, unique values and data types of the features

missing_values_train = pd.DataFrame({'Feature': train_data.columns,
                              '[TRAIN] No. of Missing Values': train_data.isnull().sum().values,
                              '[TRAIN] % of Missing Values': ((train_data.isnull().sum().values)/len(train_data)*100)})

missing_values_test = pd.DataFrame({'Feature': test_data.columns,
                             '[TEST] No.of Missing Values': test_data.isnull().sum().values,
                             '[TEST] % of Missing Values': ((test_data.isnull().sum().values)/len(test_data)*100)})

missing_values_original = pd.DataFrame({'Feature': original_data.columns,
                             '[ORIGINAL] No.of Missing Values': original_data.isnull().sum().values,
                             '[ORIGINAL] % of Missing Values': ((original_data.isnull().sum().values)/len(original_data)*100)})

unique_values = pd.DataFrame({'Feature': train_data.columns,
                              'No. of Unique Values[FROM TRAIN]': train_data.nunique().values})

feature_types = pd.DataFrame({'Feature': train_data.columns,
                              'DataType': train_data.dtypes})

merged_df = pd.merge(missing_values_train, missing_values_test, on='Feature', how='left')
merged_df = pd.merge(merged_df, missing_values_original, on='Feature', how='left')
merged_df = pd.merge(merged_df, unique_values, on='Feature', how='left')
merged_df = pd.merge(merged_df, feature_types, on='Feature', how='left')

# Add color to see missing values
cm = sns.light_palette("red", as_cmap=True)
merged_df.style.text_gradient(cmap=cm)

In [10]:
pip install -U klib

Requirement already satisfied: klib in c:\users\ghjar\anaconda3\lib\site-packages (1.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: Jinja2<4.0.0,>=3.0.3 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (3.1.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.0.3 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (3.7.2)
Requirement already satisfied: numpy<2.0.0,>=1.16.3 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (1.24.3)
Requirement already satisfied: pandas<3.0,>=1.2 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (2.0.3)
Requirement already satisfied: plotly<6.0.0,>=5.2.2 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (5.9.0)
Requirement already satisfied: scipy<2.0.0,>=1.1.0 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (1.11.1)
Requirement already satisfied: screeninfo<0.9.0,>=0.8.1 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (0.8.1)
Requirement already satisfied: seaborn>=0.11.2 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (0.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ghjar\anaconda3\lib\site-packages (from Jinja2<4.0.0,>=3.0.3->klib) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghjar\anaconda3\lib\site-packages (from pandas<3.0,>=1.2->klib) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ghjar\anaconda3\lib\site-packages (from pandas<3.0,>=1.2->klib) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ghjar\anaconda3\lib\site-packages (from plotly<6.0.0,>=5.2.2->klib) (8.2.2)
Requirement already satisfied: six>=1.5 in c:\users\ghjar\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.0.3->klib) (1.16.0)

In [11]:
pip install klib

Requirement already satisfied: klib in c:\users\ghjar\anaconda3\lib\site-packages (1.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: Jinja2<4.0.0,>=3.0.3 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (3.1.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.0.3 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (3.7.2)
Requirement already satisfied: numpy<2.0.0,>=1.16.3 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (1.24.3)
Requirement already satisfied: pandas<3.0,>=1.2 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (2.0.3)
Requirement already satisfied: plotly<6.0.0,>=5.2.2 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (5.9.0)
Requirement already satisfied: scipy<2.0.0,>=1.1.0 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (1.11.1)
Requirement already satisfied: screeninfo<0.9.0,>=0.8.1 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (0.8.1)
Requirement already satisfied: seaborn>=0.11.2 in c:\users\ghjar\anaconda3\lib\site-packages (from klib) (0.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ghjar\anaconda3\lib\site-packages (from Jinja2<4.0.0,>=3.0.3->klib) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ghjar\anaconda3\lib\site-packages (from matplotlib<4.0.0,>=3.0.3->klib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghjar\anaconda3\lib\site-packages (from pandas<3.0,>=1.2->klib) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ghjar\anaconda3\lib\site-packages (from pandas<3.0,>=1.2->klib) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ghjar\anaconda3\lib\site-packages (from plotly<6.0.0,>=5.2.2->klib) (8.2.2)
Requirement already satisfied: six>=1.5 in c:\users\ghjar\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.0.3->klib) (1.16.0)

In [14]:
# Visualize missing data
import klib

train_data_clean = klib.data_cleaning(train_data)
klib.missingval_plot(train_data_clean)

Shape of cleaned data: (165034, 14) - Remaining NAs: 0


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 10.46 MB (-59.33%)

No missing values found in the dataset.

### Split Numerical & Categorical Features

In [15]:
train_data.info()
train_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

,id,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,165034.0000,1.650340e+05,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000
mean,82516.5000,1.569201e+07,656.454373,38.125888,5.020353,55478.086689,1.554455,0.753954,0.497770,112574.822734,0.211599
std,47641.3565,7.139782e+04,80.103340,8.867205,2.806159,62817.663278,0.547154,0.430707,0.499997,50292.865585,0.408443
min,0.0000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,41258.2500,1.563314e+07,597.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74637.570000,0.000000
50%,82516.5000,1.569017e+07,659.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117948.000000,0.000000
75%,123774.7500,1.575682e+07,710.000000,42.000000,7.000000,119939.517500,2.000000,1.000000,1.000000,155152.467500,0.000000
max,165033.0000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [18]:
numerical_cols = train_data.select_dtypes(include=[np.number])
categorical_cols = train_data.select_dtypes(exclude=[np.number])
numerical_cols.head(), categorical_cols.head()

(   id  CustomerId  CreditScore   Age  Tenure    Balance  NumOfProducts  \
 0   0    15674932          668  33.0       3       0.00              2
 1   1    15749177          627  33.0       1       0.00              2
 2   2    15694510          678  40.0      10       0.00              2
 3   3    15741417          581  34.0       2  148882.54              1
 4   4    15766172          716  33.0       5       0.00              2

    HasCrCard  IsActiveMember  EstimatedSalary  Exited
 0        1.0             0.0        181449.97       0
 1        1.0             1.0         49503.50       0
 2        1.0             0.0        184866.69       0
 3        1.0             1.0         84560.88       0
 4        1.0             1.0         15068.83       0  ,
           Surname Geography Gender
 0  Okwudilichukwu    France   Male
 1   Okwudiliolisa    France   Male
 2           Hsueh    France   Male
 3             Kao    France   Male
 4       Chiemenam     Spain   Male)

### Scaling & Feature Engineering

In [20]:
scale_cols = ['Age', 'CreditScore', 'Balance', 'EstimatedSalary']

for c in scale_cols:
    min_value = train_data[c].min()
    max_value = train_data[c].max()
    train_data[c+"_scaled"] = (train_data[c] - min_value) / (max_value - min_value)
    test_data[c+"_scaled"] = (test_data[c] - min_value) / (max_value - min_value)
    
scale_cols

['Age', 'CreditScore', 'Balance', 'EstimatedSalary']

In [21]:
def getFeats(df):
    
    df['IsSenior'] = df['Age'].apply(lambda x: 1 if x >= 60 else 0)
    df['IsActive_by_CreditCard'] = df['HasCrCard'] * df['IsActiveMember']
    df['Products_Per_Tenure'] =  df['Tenure'] / df['NumOfProducts']
    df['AgeCat'] = np.round(df.Age/20).astype('int').astype('category')
    df['Sur_Geo_Gend_Sal'] = df['Surname']+df['Geography']+df['Gender']+np.round(df.EstimatedSalary).astype('str')
    
    return df

In [22]:
train_data = getFeats(train_data)
test_data = getFeats(test_data)
##
feat_cols=train_data.columns.drop(['id','Exited'])
feat_cols=feat_cols.drop(scale_cols)
print(feat_cols)
train_data.head()

Index(['CustomerId', 'Surname', 'Geography', 'Gender', 'Tenure',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'Age_scaled',
       'CreditScore_scaled', 'Balance_scaled', 'EstimatedSalary_scaled',
       'IsSenior', 'IsActive_by_CreditCard', 'Products_Per_Tenure', 'AgeCat',
       'Sur_Geo_Gend_Sal'],
      dtype='object')

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,...,Exited,Age_scaled,CreditScore_scaled,Balance_scaled,EstimatedSalary_scaled,IsSenior,IsActive_by_CreditCard,Products_Per_Tenure,AgeCat,Sur_Geo_Gend_Sal
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,...,0,0.202703,0.636,0.000000,0.907279,0,0.0,1.5,2,OkwudilichukwuFranceMale181450.0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,...,0,0.202703,0.554,0.000000,0.247483,0,1.0,0.5,2,OkwudiliolisaFranceMale49504.0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,...,0,0.297297,0.656,0.000000,0.924364,0,0.0,5.0,2,HsuehFranceMale184867.0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,...,0,0.216216,0.462,0.593398,0.422787,0,1.0,2.0,2,KaoFranceMale84561.0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,...,0,0.202703,0.732,0.000000,0.075293,0,1.0,2.5,2,ChiemenamSpainMale15069.0

In [24]:
X=train_data[feat_cols]
y=train_data['Exited']
##
cat_features = np.where(X.dtypes != np.float64)[0]
cat_features

array([ 0,  1,  2,  3,  4,  5, 12, 15, 16], dtype=int64)

### Training

In [25]:
folds = StratifiedKFold(n_splits=num_folds,random_state=RAND_VAL,shuffle=True)
test_preds = np.empty((num_folds, len(train_data)))
auc_vals=[]

for n_fold, (train_idx, valid_idx) in enumerate(folds.split(X, y)):
    
    X_train, y_train = X.iloc[train_idx], y.iloc[train_idx]
    X_val, y_val = X.iloc[valid_idx], y.iloc[valid_idx]
    
    train_pool = Pool(X_train, y_train,cat_features=cat_features)
    val_pool = Pool(X_val, y_val,cat_features=cat_features)
    
    clf = CatBoostClassifier(
    eval_metric='AUC',
    learning_rate=0.022,
    iterations=n_est)
    clf.fit(train_pool, eval_set=val_pool,verbose=300)
    
    y_pred_val = clf.predict_proba(X_val[feat_cols])[:,1]
    auc_val = roc_auc_score(y_val, y_pred_val)
    print("AUC for fold ",n_fold,": ",auc_val)
    auc_vals.append(auc_val)
    
    y_pred_test = clf.predict_proba(train_data[feat_cols])[:,1]
    test_preds[n_fold, :] = y_pred_test
    print("----------------")

0:	test: 0.8664503	best: 0.8664503 (0)	total: 306ms	remaining: 17m 50s
300:	test: 0.8944819	best: 0.8944819 (300)	total: 43.6s	remaining: 7m 43s
600:	test: 0.8961698	best: 0.8961727 (599)	total: 1m 29s	remaining: 7m 12s
900:	test: 0.8968009	best: 0.8968009 (900)	total: 2m 18s	remaining: 6m 39s
1200:	test: 0.8971540	best: 0.8971540 (1200)	total: 3m 5s	remaining: 5m 55s
1500:	test: 0.8973828	best: 0.8973879 (1489)	total: 3m 51s	remaining: 5m 7s
1800:	test: 0.8974847	best: 0.8974893 (1790)	total: 4m 36s	remaining: 4m 21s
2100:	test: 0.8975487	best: 0.8975506 (2095)	total: 5m 22s	remaining: 3m 34s
2400:	test: 0.8975349	best: 0.8975785 (2235)	total: 6m 7s	remaining: 2m 48s
2700:	test: 0.8975550	best: 0.8975785 (2235)	total: 6m 53s	remaining: 2m 2s
3000:	test: 0.8975545	best: 0.8975881 (2774)	total: 7m 38s	remaining: 1m 16s
3300:	test: 0.8975496	best: 0.8975881 (2774)	total: 8m 25s	remaining: 30.5s
3499:	test: 0.8974978	best: 0.8975881 (2774)	total: 8m 55s	remaining: 0us

bestTest = 0.8975881279
bestIteration = 2774

Shrink model to first 2775 iterations.
AUC for fold  0 :  0.8975881279398669
----------------
0:	test: 0.8640173	best: 0.8640173 (0)	total: 168ms	remaining: 9m 47s
300:	test: 0.8946687	best: 0.8946687 (300)	total: 46.6s	remaining: 8m 15s
600:	test: 0.8962455	best: 0.8962455 (600)	total: 1m 33s	remaining: 7m 30s
900:	test: 0.8968078	best: 0.8968078 (900)	total: 2m 20s	remaining: 6m 45s
1200:	test: 0.8972430	best: 0.8972430 (1200)	total: 3m 9s	remaining: 6m 3s
1500:	test: 0.8975122	best: 0.8975122 (1500)	total: 3m 59s	remaining: 5m 18s
1800:	test: 0.8976419	best: 0.8976456 (1765)	total: 4m 49s	remaining: 4m 32s
2100:	test: 0.8977348	best: 0.8977375 (2094)	total: 5m 41s	remaining: 3m 47s
2400:	test: 0.8977845	best: 0.8977845 (2400)	total: 6m 30s	remaining: 2m 58s
2700:	test: 0.8978679	best: 0.8978755 (2650)	total: 7m 20s	remaining: 2m 10s
3000:	test: 0.8979592	best: 0.8979630 (2992)	total: 8m 9s	remaining: 1m 21s
3300:	test: 0.8980138	best: 0.8980157 (3298)	total: 8m 59s	remaining: 32.5s
3499:	test: 0.8980403	best: 0.8980655 (3472)	total: 9m 31s	remaining: 0us

bestTest = 0.8980655066
bestIteration = 3472

Shrink model to first 3473 iterations.
AUC for fold  1 :  0.8980655065509721
----------------
0:	test: 0.8639864	best: 0.8639864 (0)	total: 163ms	remaining: 9m 31s
300:	test: 0.8951240	best: 0.8951240 (300)	total: 49.2s	remaining: 8m 43s
600:	test: 0.8972048	best: 0.8972048 (600)	total: 1m 41s	remaining: 8m 7s
900:	test: 0.8981072	best: 0.8981072 (900)	total: 2m 34s	remaining: 7m 24s
1200:	test: 0.8984118	best: 0.8984118 (1200)	total: 3m 25s	remaining: 6m 32s
1500:	test: 0.8985701	best: 0.8985701 (1500)	total: 4m 18s	remaining: 5m 43s
1800:	test: 0.8986322	best: 0.8986338 (1790)	total: 5m 10s	remaining: 4m 53s
2100:	test: 0.8986383	best: 0.8986645 (2040)	total: 6m 6s	remaining: 4m 3s
2400:	test: 0.8986757	best: 0.8986957 (2313)	total: 7m 2s	remaining: 3m 13s
2700:	test: 0.8987427	best: 0.8987500 (2675)	total: 7m 56s	remaining: 2m 21s
3000:	test: 0.8987619	best: 0.8987718 (2851)	total: 8m 50s	remaining: 1m 28s
3300:	test: 0.8987668	best: 0.8988024 (3128)	total: 9m 42s	remaining: 35.1s
3499:	test: 0.8987833	best: 0.8988024 (3128)	total: 10m 17s	remaining: 0us

bestTest = 0.8988023976
bestIteration = 3128

Shrink model to first 3129 iterations.
AUC for fold  2 :  0.8988023976411035
----------------
0:	test: 0.8674455	best: 0.8674455 (0)	total: 175ms	remaining: 10m 14s
300:	test: 0.8959639	best: 0.8959639 (300)	total: 51s	remaining: 9m 1s
600:	test: 0.8978987	best: 0.8978987 (600)	total: 1m 44s	remaining: 8m 22s
900:	test: 0.8985988	best: 0.8985989 (899)	total: 2m 36s	remaining: 7m 32s
1200:	test: 0.8988496	best: 0.8988496 (1200)	total: 3m 31s	remaining: 6m 45s
1500:	test: 0.8990631	best: 0.8990634 (1499)	total: 4m 25s	remaining: 5m 53s
1800:	test: 0.8992553	best: 0.8992616 (1795)	total: 5m 20s	remaining: 5m 2s
2100:	test: 0.8993899	best: 0.8993941 (2076)	total: 6m 13s	remaining: 4m 8s
2400:	test: 0.8995312	best: 0.8995326 (2397)	total: 7m 7s	remaining: 3m 15s
2700:	test: 0.8996430	best: 0.8996469 (2691)	total: 8m	remaining: 2m 22s
3000:	test: 0.8996898	best: 0.8997019 (2979)	total: 8m 52s	remaining: 1m 28s
3300:	test: 0.8997388	best: 0.8997431 (3295)	total: 9m 46s	remaining: 35.4s
3499:	test: 0.8997380	best: 0.8997437 (3466)	total: 10m 21s	remaining: 0us

bestTest = 0.8997436726
bestIteration = 3466

Shrink model to first 3467 iterations.
AUC for fold  3 :  0.8997436726492153
----------------
0:	test: 0.8681235	best: 0.8681235 (0)	total: 167ms	remaining: 9m 45s
300:	test: 0.8932026	best: 0.8932026 (300)	total: 51.7s	remaining: 9m 9s
600:	test: 0.8949637	best: 0.8949637 (600)	total: 1m 45s	remaining: 8m 27s
900:	test: 0.8955682	best: 0.8955682 (900)	total: 2m 39s	remaining: 7m 39s
1200:	test: 0.8957967	best: 0.8957968 (1199)	total: 3m 32s	remaining: 6m 46s
1500:	test: 0.8959065	best: 0.8959066 (1457)	total: 4m 25s	remaining: 5m 53s
1800:	test: 0.8959896	best: 0.8959954 (1790)	total: 5m 19s	remaining: 5m 1s
2100:	test: 0.8960266	best: 0.8960287 (2096)	total: 6m 11s	remaining: 4m 7s
2400:	test: 0.8960422	best: 0.8960826 (2279)	total: 7m 4s	remaining: 3m 14s
2700:	test: 0.8960604	best: 0.8960826 (2279)	total: 7m 58s	remaining: 2m 21s
3000:	test: 0.8961166	best: 0.8961166 (3000)	total: 8m 51s	remaining: 1m 28s
3300:	test: 0.8961034	best: 0.8961378 (3019)	total: 9m 45s	remaining: 35.3s
3499:	test: 0.8961167	best: 0.8961378 (3019)	total: 10m 21s	remaining: 0us

bestTest = 0.8961378272
bestIteration = 3019

Shrink model to first 3020 iterations.
AUC for fold  4 :  0.8961378272046305
----------------

In [26]:
"Mean AUC: ",np.mean(auc_vals)

('Mean AUC: ', 0.8980675063971576)

In [27]:
y_pred = test_preds.mean(axis=0)
df_orig=pd.read_csv("/kaggle/input/bank-customer-churn-prediction/Churn_Modelling.csv")
join_cols=list(df_orig.columns.drop(['RowNumber','Exited']))
df_orig.rename(columns={'Exited':'Exited_Orig'},inplace=True)
df_orig['Exited_Orig']=df_orig['Exited_Orig'].map({0:1,1:0})
df_test_ov=df_test_ov.merge(df_orig,on=join_cols,how='left')[['id','Exited_Orig']].fillna(-1)
####
df_sub = df_test_ov[['id','Exited_Orig']]

if USE_DATA_LEAK=='Y':
    df_sub['Exited'] = np.where(df_sub.Exited_Orig==-1,y_pred,df_sub.Exited_Orig)
else:
    df_sub['Exited'] = y_pred
    
df_sub.drop('Exited_Orig',axis=1,inplace=True)
df_sub.head()

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/bank-customer-churn-prediction/Churn_Modelling.csv'

In [ ]:
df_sub.to_csv("submission.csv",index=False)